<section class="">
  <div class="row">
    <div class="col-12">
      <div class="aboutdesc">
        <div id="aboutme" class="desc">
          <h1>about me</h1>
          <h2>I'm a Software Developer from the United Kingdom.
          <br></br>
          <p>I love using my coding skills to create anything from web sites to publishing mobile apps and games. I'm in the process of shifting my development career from console game development to web development and currently spending my time deveveloping my skills in web technologies.</p>
          <p>Aside from coding in my leisure time I enjoy a mixture of climbing, gym sessions, fishing and playing the piano.</p>  
          <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
          <script type="IN/MemberProfile" data-id="http://uk.linkedin.com/pub/andrew-morris/2/188/580/" data-format="hover" data-related="false"></script>
          <div class="image-me">
            <img src="../images/me2.png" alt="andrew morris developer" class="aboutimage">
          </div>       
        </div>
      </div>
    </div>
  </div>
</section>
