<!-- <h1 id="mobileheader"><h1> -->
<div class="innerpage">
  <section id="homepage">
    <div id="mobileheader">
      <!-- <div style="clear: both">
        <h2 class="headerleft">Andrew</h2>
        <h2 class="headerright">Morris</h2>
      </div> -->
    </div>
    <div class="row">
      <div class="col-6">
        <div class="desc boxdesc leftbox">
          <h1>developer</h1>
          <p>Versatile web, app and game developer with a passion for using the latest cutting edge technologies.</p>
        </div>
      </div>
      <div class="col-6">
        <div class="desc boxdesc rightbox">
          <h1>coder()</h1>
          <p>I love getting my hands on a keyboard to write well structured, clean and efficient code.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="aboutpage">
    <div class="row">
      <div class="col-12">
          <div class="desc leftbox">
            <h1>about me</h1>
            <h2>I'm a Software Developer based in the United Kingdom.
            <br></br>
            <p>I love using my coding skills to create anything from web sites to publishing mobile apps and games. I'm in the process of shifting my development career from console game development to web development and currently spending my time developing my skills in web technologies.</p>
            <p>Aside from coding in my leisure time I enjoy a mixture of climbing, gym sessions, fishing and playing the piano.</p>  
            <!--<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="http://uk.linkedin.com/pub/andrew-morris/2/188/580/" data-format="hover" data-related="false"></script>-->
            <div class="image-me">
              <img src="./images/me3.png" alt="andrew morris developer" class="aboutimage" width="50%" height="50%">
            </div>       
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="workpage">
    <div class="row">
      <div class="col-12">
        <div class="workdesc">
          <div id="work" class="desc leftbox boxdesclarge">
            <h1>games</h1>
            <p>Here is a list of the various games companies I've worked for in the past and some of the games I have had the pleasure to work on.</p>
            <br></br>

            <div class="companybreak"><h4>Playground Games</h4></div>
            <ul class="thumbs">
              <!-- <li>
                <a href="http://en.wikipedia.org/wiki/Hasbro_Family_Game_Night_2">
                  <img src="http://upload.wikimedia.org/wikipedia/en/a/a7/Family_Game_Night.jpg" class="" alt="Family Game Night 2" title="Family Game Night 2">
                </a>
              </li> -->
              <li>
                <a href="http://en.wikipedia.org/wiki/F1_2010_(video_game)">
                  <img src="./images/topsecret.png" class="" alt="Top Secret" title="Top Secret">
                </a>
              </li>
            </ul>

            <br></br>

            <div class="companybreak"><h4>Codemasters</h4></div>
            <ul class="thumbs">
              <li class="directimage">
                <img src="./images/BAFTA_VideoGames_Win_Yearless_Black_30mm_noYear.png" class="" alt="Bafta Winner" title="Bafta Winner">
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/F1_2010_(video_game)">
                  <img src="http://upload.wikimedia.org/wikipedia/en/4/42/F1_2010_%28video_game%29.jpg" class="" alt="F1 2010" title="F1 2010">                
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/F1_2011_(video_game)">
                  <img src="http://upload.wikimedia.org/wikipedia/en/c/cf/F1_2011_Cover.jpg" class="" alt="F1 2011" title="F1 2011">
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/F1_2012_(video_game)">
                  <img src="http://upload.wikimedia.org/wikipedia/en/a/a1/F1_2012_cover.png" class="" alt="F1 2012" title="F1 2012">
                </a>
              </li>
            </ul>

            <br></br>

            <div class="companybreak"><h4>Electronic Arts</h4></div>
            <ul class="thumbs">
              <!-- <li>
                <a href="http://en.wikipedia.org/wiki/Hasbro_Family_Game_Night_2">
                  <img src="http://upload.wikimedia.org/wikipedia/en/a/a7/Family_Game_Night.jpg" class="" alt="Family Game Night 2" title="Family Game Night 2">
                </a>
              </li> -->
              <li>
                <a href="http://en.wikipedia.org/wiki/Hasbro_Family_Game_Night">
                  <img src="http://upload.wikimedia.org/wikipedia/en/a/a7/Family_Game_Night.jpg" class="" alt="Family Game Night" title="Family Game Night">
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/Harry_Potter_and_the_Half-Blood_Prince_(video_game)">
                  <img src="http://upload.wikimedia.org/wikipedia/en/6/68/Harry_Potter_and_the_Half-Blood_Prince_%28video_game%29.jpg" class="" alt="Harry Potter and the Half-Blood Prince" title="Harry Potter and the Half-Blood Prince">
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/Harry_Potter_and_the_Order_of_the_Phoenix_(video_game)">
                  <img src="http://upload.wikimedia.org/wikipedia/en/c/cd/Harry_Potter_and_the_Order_of_the_Phoenix_Coverart.jpg" class="" alt="Harry Potter and the Order of the Phoenix" title="Harry Potter and the Order of the Phoenix">
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/Harry_Potter_and_the_Goblet_of_Fire_(video_game)">
                  <img src="http://upload.wikimedia.org/wikipedia/en/d/d3/HP_goblet_of_fire.png" class="" alt="Harry Potter and the Goblet of Fire" title="Harry Potter and the Goblet of Fire">
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/Harry_Potter_and_the_Prisoner_of_Azkaban_(video_game)">
                  <img src="http://upload.wikimedia.org/wikipedia/en/6/6e/HP_prisoner_of_azkaban.png" class="" alt="Harry Potter and the Prisoner of Azkaban" title="Harry Potter and the Prisoner of Azkaban">
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/Burnout_Revenge">
                  <img src="http://upload.wikimedia.org/wikipedia/en/c/cb/Revenge_boxart.jpg" class="" alt="Burnout Revenge XBox360" title="Burnout Revenge XBox360">
                </a>
              </li>
            </ul>

            <br></br>

            <div class="companybreak"><h4>Blitz Games</h4></div>
            <ul class="thumbs">
              <li>
                <a href="http://en.wikipedia.org/wiki/Glover_(video_game)">
                  <img src="http://upload.wikimedia.org/wikipedia/en/3/35/Glover.jpg" class="" alt="Glover" title="Glover">
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/Frogger_2:_Swampy's_Revenge">
                  <img src="http://upload.wikimedia.org/wikipedia/en/9/9f/Frogger_2_-_Swampy%27s_Revenge_Coverart.png" class="" alt="Frogger 2 - Swampy's Revenge" title="Frogger 2 - Swampy's Revenge">
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/Chicken_Run_(video_game)">
                  <img src="http://upload.wikimedia.org/wikipedia/en/2/24/Chicken_Run_%28video_game%29.jpg" class="" alt="Chicken Run" title="Chicken Run">
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/The_Mummy_Returns">
                  <img src="http://pics.mobygames.com/images/covers/large/1159222934-00.jpg" class="" alt="The Mummy Returns" title="The Mummy Returns">
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/Fuzion_Frenzy">
                  <img src="http://upload.wikimedia.org/wikipedia/en/9/96/Fuzion_Frenzy_Coverart.png" class="" alt="Fusion Frenzy" title="Fusion Frenzy">
                </a>
              </li>
              <li>
                <a href="http://www.gamefaqs.com/ps/539177-cubix-robots-for-everyone-racen-robots/wiki">
                  <img src="http://img.gamefaqs.net/box/9/2/4/15924_front.jpg" class="" alt="Cubix - Race 'n Robots" title="Cubix - Race 'n Robots">
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/Taz:_Wanted">
                  <img src="http://upload.wikimedia.org/wikipedia/en/0/06/Taz_Wanted.jpg" class="" alt="Taz Wanted" title="Taz Wanted">
                </a>
              </li>
              <li>
                <a href="http://en.wikipedia.org/wiki/Zapper:_One_Wicked_Cricket">
                  <img src="http://upload.wikimedia.org/wikipedia/en/9/9d/Zapper_One_Wicked_Cricket.jpg" class="" alt="Zapper" title="Zapper">
                </a>
              </li>
            </ul>

        </div>
      </div>
    </div>
  </section>
  <section id="skillspage">
    <div class="row">
      <div class="col-6">
        <div class="desc boxdesclarge leftboxskills">
          <h1>web tech</h1>
          <p>I enjoy keeping up with the latest technologies, and currently I have been busy learning and developing my skills in the following web technologies.</p>
          
        </div>
      </div>
      <div class="col-6">
        <div class="desc leftboxskills">
            <img class="logomargin" src="./images/HTML5_Logo_64.png" width="63" height="64" alt="HTML5" title="HTML5">
            <img class="logomargin" src="./images/css3.svg" width="63" height="64" alt="CSS3" title="CSS3">
            <img class="logomargin" src="./images/JS6_Logo.png" width="63" height="64" alt="Javascript" title="Javascript">
            <img class="logomargin" src="./images/jquery.jpg" height="32" alt="jQuery" title="jQuery">
            <img class="logomargin" src="./images/AngularJS-small.png" height="40" alt="angular.js" title="angular.js">
            <img class="logomargin" src="./images/bootstrap.jpg" height="40" alt="Bootstrap" title="Bootstrap">
            <img class="logomargin" src="./images/php-med-trans.png" height="50" alt="php" title="php">
            <img class="logomargin" src="./images/yeoman.png" height="64" alt="yeoman" title="yeoman">
            <img class="logomargin" src="./images/apache.jpg" height="64" alt="Apache" title="Apache">
            <img class="logomargin" src="./images/GitHub-Logo.png" height="32" alt="GitHub" title="GitHub">
            <img class="logomargin" src="./images/logo-mysql-170x115.png" height="50" alt="MySQL" title="MySQL">
        </div>
      </div>
      <div class="col-6">
        <div class="desc boxdesclarge leftboxskills">
          <h1>code()</h1>
          <p>Previously I have developed skills and experience in the following:</p>
          <ul>
            <li><p>C / C++</p></li>
            <li><p>C#</p></li>
            <li><p>Microsoft .net</p></li>
            <li><p>Objective C, XCode</p></li>
            <li><p>Cocos2D</p></li>
            <li><p>OpenGL ES</p></li>
            <li><p>VB / VBScipt</p></li>
            <li><p>Windows Forms, MFC, WPF</p></li>
            <li><p>Visual Studio</p></li>
            <li><p>Perforce, BuildForge, DevTrack, JIRA, SCRUM</p></li>
            <li><p>MS Excel, MS Word, MS Visio</p></li>
            <li><p>Requirements Gathering, Analysis & Design, Risk Management</p></li>
            <li><p>Debugging, Unit Testing, Deployment and Sign off</p></li>
            <li><p>Adobe Max script</p></li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <div class="desc boxdesclarge leftboxskills">
          <h1>design</h1>
          <p>Aside from coding I know my way around both Photoshop and Illustrator. I can use either to create original artwork or slice up commissioned design work for website integration.</p>
        </div>
      </div>
      <div class="col-6">
        <div class="desc boxdesclarge leftboxskills">
          <h1>cross-platform</h1>
          <p>I have experience developing across many platforms and devices including:</p>
          <ul>
            <li><p>Desktop native apps</p></li>
            <li><p>Browser / Web apps</p></li>
            <li><p>Mobile devices - Apple iPhone, iPad & iPod</p></li>
            <li><p>Consoles - XBox One, 360, PS3 etc</p></li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <div class="desc boxdesclarge leftboxskills">
          <h1>audio</h1>
          <p>And when required I can compose a piece of music on piano, guitar or electronic instruments, and also create original sound effects.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="contactpage">
    <div class="row">
      <div class="col-12 leftbox desc">
        <h1 class="contactme">contact me</h1>
        <ul class="contactlist">        
          <li><a href="http://uk.linkedin.com/pub/andrew-morris/2/188/580/" class="linkedin"><img src="./images/linkedin.png" width="32" height="32">  Join me on linkedIn</a></li>
          <li><a href="mailto:amorris.home@gmail.com" class="emailme"><img src="./images/email_logo.png" width="32" height="32">  email me</a></li>
        </ul>
      </div>
    </div>
  </section>
</div>
