<div class="innerpage">
  <section >
    <div class="row">
      <div class="col-6">
        <div class="desc boxdesclarge leftboxskills">
          <h1>web tech</h1>
          <p>I enjoy keeping up with the latest technologies, and currently I have been busy learning and developing my skills in the following web technologies.</p>
          
        </div>
      </div>
      <div class="col-6">
        <div class="desc leftboxskills">
            <img class="logomargin" src="./images/HTML5_Logo_64.png" width="63" height="64" alt="HTML5" title="HTML5">
            <img class="logomargin" src="./images/css3.svg" width="63" height="64" alt="CSS3" title="CSS3">
            <img class="logomargin" src="./images/JS6_Logo.png" width="63" height="64" alt="Javascript" title="Javascript">
            <img class="logomargin" src="./images/jquery.jpg" height="32" alt="jQuery" title="jQuery">
            <img class="logomargin" src="./images/AngularJS-small.png" height="40" alt="angular.js" title="angular.js">
            <img class="logomargin" src="./images/bootstrap.jpg" height="40" alt="Bootstrap" title="Bootstrap">
            <img class="logomargin" src="./images/php-med-trans.png" height="50" alt="php" title="php">
            <img class="logomargin" src="./images/yeoman.png" height="64" alt="yeoman" title="yeoman">
            <img class="logomargin" src="./images/apache.jpg" height="64" alt="Apache" title="Apache">
            <img class="logomargin" src="./images/GitHub-Logo.png" height="32" alt="GitHub" title="GitHub">
            <img class="logomargin" src="./images/logo-mysql-170x115.png" height="50" alt="MySQL" title="MySQL">
        </div>
      </div>
      <div class="col-6">
        <div class="desc boxdesclarge leftboxskills">
          <h1>code()</h1>
          <p>Previously I have developed skills and experience in the following:</p>
          <ul>
            <li><p>C / C++</p></li>
            <li><p>C#</p></li>
            <li><p>Microsoft .net</p></li>
            <li><p>Objective C, XCode</p></li>
            <li><p>Cocos2D</p></li>
            <li><p>OpenGL ES</p></li>
            <li><p>VB / VBScipt</p></li>
            <li><p>Windows Forms, MFC, WPF</p></li>
            <li><p>Visual Studio</p></li>
            <li><p>Perforce, BuildForge, DevTrack, JIRA, SCRUM</p></li>
            <li><p>MS Excel, MS Word, MS Visio</p></li>
            <li><p>Requirements Gathering, Analysis & Design, Risk Management</p></li>
            <li><p>Debugging, Unit Testing, Deployment and Sign off</p></li>
            <li><p>Adobe Max script</p></li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <div class="desc boxdesclarge leftboxskills">
          <h1>design</h1>
          <p>Aside from coding I know my way around both Photoshop and Illustrator. I can use either to create original artwork or slice up commissioned design work for website integration.</p>
        </div>
      </div>
      <div class="col-6">
        <div class="desc boxdesclarge leftboxskills">
          <h1>cross-platform</h1>
          <p>I have experience developing across many platforms and devices including:</p>
          <ul>
            <li><p>Desktop native apps</p></li>
            <li><p>Browser / Web apps</p></li>
            <li><p>Mobile devices - Apple iPhone, iPad & iPod</p></li>
            <li><p>Consoles - XBox One, 360, PS3 etc</p></li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <div class="desc boxdesclarge leftboxskills">
          <h1>audio</h1>
          <p>And when required I can compose a piece of music on piano, guitar or electronic instruments, and also create original sound effects.</p>
        </div>
      </div>
    </div>
  </section>
</div>
