<div class="header">
  <h3 class="text-muted">Skills</h3>
</div>

<section class="jumbotron">
  <div class="row">
    <div class="col-12">
      <div class="homedesc">
        <div id="developer" class="desc">
          <h1>develop</h1>
          <p>Versatile web, app and game developer with a passion for using the latest cutting edge technologies.</p>
        </div>
        <div id="coder" class="desc">
          <h1>code()</h1>
          <p>{ Love getting hands on the keyboard to write well structured, clean and efficient code }</p>
        </div>
      </div>
    </div>
  </div>
</section>

