<section class="workpage">
  <div class="row">
    <div class="col-12">
      <div class="workdesc">
        <div id="work" class="desc">
          <h1>games</h1>
          <h2>Companies i've worked for and some of the games i've worked on.</h2>
          <br></br>

          <div class="companybreak"><h4>Playground Games</h4></div>
          <ul class="thumbs">
            <!-- <li>
              <a href="http://en.wikipedia.org/wiki/Hasbro_Family_Game_Night_2">
                <img src="http://upload.wikimedia.org/wikipedia/en/a/a7/Family_Game_Night.jpg" class="" alt="Family Game Night 2" title="Family Game Night 2">
              </a>
            </li> -->
            <li>
              <a href="http://en.wikipedia.org/wiki/F1_2010_(video_game)">
                <img src="../images/240px-Top_secret.gif" class="" alt="Top Secret" title="Top Secret">
              </a>
            </li>
          </ul>

          <br></br>

          <div class="companybreak"><h4>Codemasters</h4></div>
          <ul class="thumbs">
            <li class="directimage">
              <img src="../images/BAFTA_VideoGames_Win_Yearless_Black_30mm_noYear.png" class="" alt="Bafta Winner" title="Bafta Winner">
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/F1_2010_(video_game)">
                <img src="http://upload.wikimedia.org/wikipedia/en/4/42/F1_2010_%28video_game%29.jpg" class="" alt="F1 2010" title="F1 2010">                
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/F1_2011_(video_game)">
                <img src="http://upload.wikimedia.org/wikipedia/en/c/cf/F1_2011_Cover.jpg" class="" alt="F1 2011" title="F1 2011">
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/F1_2012_(video_game)">
                <img src="http://upload.wikimedia.org/wikipedia/en/a/a1/F1_2012_cover.png" class="" alt="F1 2012" title="F1 2012">
              </a>
            </li>
          </ul>

          <br></br>

          <div class="companybreak"><h4>Electronic Arts</h4></div>
          <ul class="thumbs">
            <!-- <li>
              <a href="http://en.wikipedia.org/wiki/Hasbro_Family_Game_Night_2">
                <img src="http://upload.wikimedia.org/wikipedia/en/a/a7/Family_Game_Night.jpg" class="" alt="Family Game Night 2" title="Family Game Night 2">
              </a>
            </li> -->
            <li>
              <a href="http://en.wikipedia.org/wiki/Hasbro_Family_Game_Night">
                <img src="http://upload.wikimedia.org/wikipedia/en/a/a7/Family_Game_Night.jpg" class="" alt="Family Game Night" title="Family Game Night">
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/Harry_Potter_and_the_Half-Blood_Prince_(video_game)">
                <img src="http://upload.wikimedia.org/wikipedia/en/6/68/Harry_Potter_and_the_Half-Blood_Prince_%28video_game%29.jpg" class="" alt="Harry Potter and the Half-Blood Prince" title="Harry Potter and the Half-Blood Prince">
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/Harry_Potter_and_the_Order_of_the_Phoenix_(video_game)">
                <img src="http://upload.wikimedia.org/wikipedia/en/c/cd/Harry_Potter_and_the_Order_of_the_Phoenix_Coverart.jpg" class="" alt="Harry Potter and the Order of the Phoenix" title="Harry Potter and the Order of the Phoenix">
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/Harry_Potter_and_the_Goblet_of_Fire_(video_game)">
                <img src="http://upload.wikimedia.org/wikipedia/en/d/d3/HP_goblet_of_fire.png" class="" alt="Harry Potter and the Goblet of Fire" title="Harry Potter and the Goblet of Fire">
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/Harry_Potter_and_the_Prisoner_of_Azkaban_(video_game)">
                <img src="http://upload.wikimedia.org/wikipedia/en/6/6e/HP_prisoner_of_azkaban.png" class="" alt="Harry Potter and the Prisoner of Azkaban" title="Harry Potter and the Prisoner of Azkaban">
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/Burnout_Revenge">
                <img src="http://upload.wikimedia.org/wikipedia/en/c/cb/Revenge_boxart.jpg" class="" alt="Burnout Revenge XBox360" title="Burnout Revenge XBox360">
              </a>
            </li>
          </ul>

          <br></br>

          <div class="companybreak"><h4>Blitz Games</h4></div>
          <ul class="thumbs">
            <li>
              <a href="http://en.wikipedia.org/wiki/Glover_(video_game)">
                <img src="http://upload.wikimedia.org/wikipedia/en/3/35/Glover.jpg" class="" alt="Glover" title="Glover">
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/Frogger_2:_Swampy's_Revenge">
                <img src="http://upload.wikimedia.org/wikipedia/en/9/9f/Frogger_2_-_Swampy%27s_Revenge_Coverart.png" class="" alt="Frogger 2 - Swampy's Revenge" title="Frogger 2 - Swampy's Revenge">
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/Chicken_Run_(video_game)">
                <img src="http://upload.wikimedia.org/wikipedia/en/2/24/Chicken_Run_%28video_game%29.jpg" class="" alt="Chicken Run" title="Chicken Run">
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/The_Mummy_Returns">
                <img src="http://pics.mobygames.com/images/covers/large/1159222934-00.jpg" class="" alt="The Mummy Returns" title="The Mummy Returns">
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/Fuzion_Frenzy">
                <img src="http://upload.wikimedia.org/wikipedia/en/9/96/Fuzion_Frenzy_Coverart.png" class="" alt="Fusion Frenzy" title="Fusion Frenzy">
              </a>
            </li>
            <li>
              <a href="http://www.gamefaqs.com/ps/539177-cubix-robots-for-everyone-racen-robots/wiki">
                <img src="http://img.gamefaqs.net/box/9/2/4/15924_front.jpg" class="" alt="Cubix - Race 'n Robots" title="Cubix - Race 'n Robots">
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/Taz:_Wanted">
                <img src="http://upload.wikimedia.org/wikipedia/en/0/06/Taz_Wanted.jpg" class="" alt="Taz Wanted" title="Taz Wanted">
              </a>
            </li>
            <li>
              <a href="http://en.wikipedia.org/wiki/Zapper:_One_Wicked_Cricket">
                <img src="http://upload.wikimedia.org/wikipedia/en/9/9d/Zapper_One_Wicked_Cricket.jpg" class="" alt="Zapper" title="Zapper">
              </a>
            </li>
          </ul>

      </div>
    </div>
  </div>
</section>
